.aboutDiv{
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  color: rgb(128, 128, 128);
}
.heading-title{
  /* margin: 10px 0px; */
}
.heading-title h1{
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 800;
  color: rgb(75, 75, 75);
  margin-bottom: 20px;
}
.twitterLink{
  text-align: center;
  border: .5px solid gainsboro;
  border-radius: 30px;
  width: 250px;
  margin: auto;
  cursor: pointer;
}
.twitterLink:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.twitterLink a{
  text-decoration: none;
  color: rgb(75, 75, 75);
  display: inline-flex;
  margin: auto;
  margin-top: 15px;
  /* padding-top: 10px; */
}
.twitterLink p span{
  color: rgb(75, 75, 75);
  font-weight: 700;
  font-size: 22px;
}
.twitterIcon{
  color: #1d9bf0;
  font-size: 25px;
  margin-right: 7px;
}


/* items-owner-price-volume-container css */

.items-owner-price-volume-container{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

.items-div, .owners-div, .price-div, .volume-div{
  padding: 15px 40px;
  text-align: center;
  border: .5px solid gainsboro;
  cursor: pointer;
}
.items-div:hover, .owners-div:hover, .price-div:hover, .volume-div:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.items-div h2, .owners-div h2, .price-div h2, .volume-div h2{
  font-weight: 700;
  color: rgb(75, 75, 75);
}
.items-div h6, .owners-div h6, .price-div h6, .volume-div h6{
  color: rgb(128, 128, 128);
}
.ethIcon{
  font-size: 30px;
  font-weight: 700;
  color: rgb(75, 75, 75);
}
.items-div{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.volume-div{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.about-text{
  text-align: center;
  margin: 40px 0px;
  color: rgb(128, 128, 128);
}

.work-process a{
  text-decoration: none;
  color: #1d9bf0;
}