.details-container{
  border-top: 2px solid gainsboro;
}
img{
  width: 100%;
}
.itemsDetails-img{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.reactions{
  text-align: right;
  padding: 20px;
  font-size: 17px;
  padding-bottom: 0;
}
.text-content{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  /* padding: 20px; */
}
.des-title{
  border-bottom: 2px solid gainsboro;
  padding: 20px;
  color: rgb(77, 77, 77);
}
.des-content{
  padding: 20px;
  height: 160px;
  background-color: rgb(244, 249, 255);
  overflow: scroll;
}
.des-content small{
  font-size: 17px;
}
.des-content p{
  margin-top: 10px;
}
.about-content{
  border-bottom: 2px solid gainsboro;
}
.about-content h5, .detail-content h5{
  padding: 20px;
  color: rgb(77, 77, 77);
}
.about-content span, .detail-content span{
  margin-left: auto;
  padding: 20px;
  cursor: pointer;
}



.itemsDetails-container, .itemsDetails-contents{
  font-family: "Rajdhani", sans-serif;
  color: rgb(128, 128, 128);
}

.itemsDetails-text p{
  color: #1d9bf0;
  font-size: 18px;
  cursor: pointer;
}
.itemsDetails-text h2{
  color: rgb(77, 77, 77);
}
.itemsDetails-text small span{
  color: #1d9bf0;
  margin-left: 0;
  cursor: pointer;
}
.itemsDetails-text span{
  margin-left: 100px;
}
.placeBid-container{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #f4fbff;
  margin-top: 20px;
  color: rgb(77, 77, 77);
  border-radius: 10px;
}
.bid-time{
  border-bottom: 2px solid gainsboro;
  background-color: white;
  padding: 20px;
  padding-bottom: 0;
}
.placeBid-container p{
  color: rgb(128, 128, 128);
}

.Minimum-bid-container{
  padding: 20px;
}
.Minimum-bid-container small{
  color: rgb(128, 128, 128);
  font-size: 16px;
}
.Minimum-bid-container h4{
  color: rgb(77, 77, 77);
  font-size: 27px;
  margin-top: 10px;
}
.Minimum-bid-container span{
  margin-left: 20px;
  margin-top: 13px;
  font-size: 17px;
  color: rgb(128, 128, 128);
}
.Minimum-bid-container span:last-child{
  margin-left: 10px;
  margin-top: 10px;
  font-size: 23px;
}
.ethIcon{
  color: rosybrown;
  font-size: 24px;
  margin-right: 7px;
}
.bidBtn{
  border: none;
  padding: 12px 100px;
  color: white;
  background-color: #1d9bf0;
  border-radius: 5px;
  font-family: "Rajdhani", sans-serif;
  font-size: 14px;
  margin: 20px 0px 0px 0px;
}
.bidBtn:hover{
  background-color: #53b7fa;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.listing-content{
  padding: 20px 20px 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 20px;
  border-radius: 10px;
}
.listing-content span{
  text-align: right;
  margin-left: auto;
  cursor: pointer;
}


.moreMenu-container{
  margin-left: auto;
}
.tooltipContainer{
  font-size: 17px;
  font-family: "Rajdhani", sans-serif;
}
.check-art button{
  border: none;
  padding: 10px 35px;
  color: white;
  background-color: #1d9bf0;
  border-radius: 5px;
  font-family: "Rajdhani", sans-serif;
  font-size: 14px;
  margin-top: 20px;
}
.check-art button:hover{
  background-color: #47b4fc;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.check-text{
  color: rgb(128, 128, 128);
  font-family: "Rajdhani", sans-serif;
}
.checkImg{
  width: 500px;
  margin-top: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.times{
  margin-left: auto;
  border: none;
  background-color: #ffffff;
}