@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");
.logoName{
  font-size: 30px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  color: rgb(94, 94, 94);
  margin-left: 7px;
}
.searchForm{
  width: 450px;
  margin-left: 200px;
  text-align: right;
  font-family: 'Rajdhani', sans-serif;
}
.searchBtn{
  position: absolute;
  color: rgb(88, 88, 88);
  margin-left: 400px;
  font-family: 'Rajdhani', sans-serif;
}
.navbar-nav{
  margin-left: auto;
  text-align: right;
}
.nav-menu {
  padding: 0px 15px;
  font-family: 'Rajdhani', sans-serif;
}
.nav-menu:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  /* width: 250px; */
  font-family: 'Rajdhani', sans-serif;
}
.dropdown-menu li {
  font-size: 14px;
}
.dropdown-menu li span {
  transition: all 0.5s;
}
.dropdown-menu li:hover span {
  margin-left: 15px;
}
.walletIcon, .userIcon{
  font-size: 20px;
}